<nav>
  <a href="{{ path('homepage') }}">Accueil</a>
  <a href="{{ path('app_admin_section_index') }}">CRUD</a>
  {% if is_granted("IS_AUTHENTICATED_FULLY") %}
  <a href="{{ path('app_logout') }}">logout</a>
  {% else %}
  <a href="{{ path('app_login') }}">login</a>
  {% endif %}
  <a href="{{ path('app_admin') }}">Admin</a>
</nav>
